USE [master]
GO
/****** Object:  Database [MeetMyLecturer3]    Script Date: 17/11/2023 4:27:04 CH ******/
CREATE DATABASE [MeetMyLecturer3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MeetMyLecturer3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.BRIAN\MSSQL\DATA\MeetMyLecturer3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MeetMyLecturer3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.BRIAN\MSSQL\DATA\MeetMyLecturer3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MeetMyLecturer3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MeetMyLecturer3]
GO
/****** Object:  Table [dbo].[BlockList]    Script Date: 17/11/2023 4:27:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlockList](
	[lecturerID] [varchar](15) NOT NULL,
	[studentID] [varchar](15) NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_blockList] PRIMARY KEY CLUSTERED 
(
	[lecturerID] ASC,
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 17/11/2023 4:27:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[bookingID]  AS ('B'+right('000'+CONVERT([varchar](3),[ID]),(3))) PERSISTED NOT NULL,
	[studentID] [varchar](15) NOT NULL,
	[freeSlotID] [varchar](5) NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[bookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FreeSlots]    Script Date: 17/11/2023 4:27:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FreeSlots](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[freeSlotID]  AS ('FS'+right('000'+CONVERT([varchar](3),[ID]),(3))) PERSISTED NOT NULL,
	[subjectCode] [char](10) NULL,
	[startTime] [datetime] NOT NULL,
	[endTime] [datetime] NOT NULL,
	[password] [varchar](50) NULL,
	[capacity] [int] NOT NULL,
	[meetLink] [nvarchar](50) NOT NULL,
	[count] [int] NOT NULL,
	[lecturerID] [varchar](15) NOT NULL,
	[status] [int] NOT NULL,
	[semesterID] [char](4) NOT NULL,
	[block_list] [nvarchar](50) NULL,
	[mode] [int] NOT NULL,
 CONSTRAINT [PK_FreeSlots] PRIMARY KEY CLUSTERED 
(
	[freeSlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Majors]    Script Date: 17/11/2023 4:27:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Majors](
	[lecturerID] [varchar](15) NOT NULL,
	[subjectCode] [nchar](6) NOT NULL,
	[semesterID] [char](4) NOT NULL,
 CONSTRAINT [PK_Majors] PRIMARY KEY CLUSTERED 
(
	[lecturerID] ASC,
	[subjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 17/11/2023 4:27:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[requestID]  AS ('REQ'+right('000'+CONVERT([varchar](3),[ID]),(3))) PERSISTED NOT NULL,
	[freeSlotID] [varchar](5) NOT NULL,
	[studentID] [varchar](15) NOT NULL,
	[status] [int] NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[note] [nvarchar](500) NULL,
 CONSTRAINT [PK_Requests] PRIMARY KEY CLUSTERED 
(
	[requestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 17/11/2023 4:27:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[roleID] [nvarchar](2) NOT NULL,
	[roleName] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semesters]    Script Date: 17/11/2023 4:27:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semesters](
	[semesterID] [char](4) NOT NULL,
	[semesterName] [nvarchar](50) NOT NULL,
	[startDay] [datetime] NOT NULL,
	[endDay] [datetime] NOT NULL,
 CONSTRAINT [PK__Semester__F2F37EA7D244B629] PRIMARY KEY CLUSTERED 
(
	[semesterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slots]    Script Date: 17/11/2023 4:27:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slots](
	[slotID] [nchar](2) NOT NULL,
	[day1] [char](10) NOT NULL,
	[day2] [char](10) NOT NULL,
	[starttime] [time](4) NOT NULL,
	[endtime] [time](4) NOT NULL,
 CONSTRAINT [PK_Slots_1] PRIMARY KEY CLUSTERED 
(
	[slotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 17/11/2023 4:27:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[subjectCode] [nchar](6) NOT NULL,
	[subjectName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_subject] PRIMARY KEY CLUSTERED 
(
	[subjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timetables]    Script Date: 17/11/2023 4:27:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timetables](
	[subjectCode] [nchar](6) NOT NULL,
	[slotID] [nchar](2) NOT NULL,
	[lecturerID] [varchar](15) NOT NULL,
	[semesterID] [char](4) NOT NULL,
 CONSTRAINT [PK_Timetables] PRIMARY KEY CLUSTERED 
(
	[slotID] ASC,
	[lecturerID] ASC,
	[semesterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17/11/2023 4:27:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [varchar](15) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[userEmail] [varchar](50) NOT NULL,
	[userStatus] [int] NOT NULL,
	[roleID] [nvarchar](2) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FreeSlots] ON 

INSERT [dbo].[FreeSlots] ([ID], [subjectCode], [startTime], [endTime], [password], [capacity], [meetLink], [count], [lecturerID], [status], [semesterID], [block_list], [mode]) VALUES (2, N'SEP490    ', CAST(N'2023-10-13T13:00:00.000' AS DateTime), CAST(N'2023-10-13T13:45:00.000' AS DateTime), NULL, 5, N'meet.google.com/iie-mhgu-xeq', 3, N'GV0004', 3, N'FA23', NULL, 1)
INSERT [dbo].[FreeSlots] ([ID], [subjectCode], [startTime], [endTime], [password], [capacity], [meetLink], [count], [lecturerID], [status], [semesterID], [block_list], [mode]) VALUES (3, N'SEP490    ', CAST(N'2023-10-12T15:15:00.000' AS DateTime), CAST(N'2023-10-12T15:15:45.000' AS DateTime), NULL, 5, N'meet.google.com/qrd-azbm-ixx', 3, N'GV0002', 3, N'FA23', NULL, 1)
INSERT [dbo].[FreeSlots] ([ID], [subjectCode], [startTime], [endTime], [password], [capacity], [meetLink], [count], [lecturerID], [status], [semesterID], [block_list], [mode]) VALUES (4, N'SWP391    ', CAST(N'2023-10-12T16:00:00.000' AS DateTime), CAST(N'2023-10-12T16:45:00.000' AS DateTime), NULL, 5, N'meet.google.com/zhj-ccwa-iqf', 4, N'GV0002', 3, N'FA23', NULL, 1)
SET IDENTITY_INSERT [dbo].[FreeSlots] OFF
GO
INSERT [dbo].[Roles] ([roleID], [roleName]) VALUES (N'1 ', N'Admin     ')
INSERT [dbo].[Roles] ([roleID], [roleName]) VALUES (N'2 ', N'Lecturer  ')
INSERT [dbo].[Roles] ([roleID], [roleName]) VALUES (N'3 ', N'Student   ')
GO
INSERT [dbo].[Semesters] ([semesterID], [semesterName], [startDay], [endDay]) VALUES (N'FA22', N'Fall 2022', CAST(N'2022-09-06T00:00:00.000' AS DateTime), CAST(N'2022-12-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Semesters] ([semesterID], [semesterName], [startDay], [endDay]) VALUES (N'FA23', N'Fall 2023', CAST(N'2023-09-06T00:00:00.000' AS DateTime), CAST(N'2023-12-29T00:00:00.000' AS DateTime))
INSERT [dbo].[Semesters] ([semesterID], [semesterName], [startDay], [endDay]) VALUES (N'SP23', N'Spring 2023', CAST(N'2023-01-04T00:00:00.000' AS DateTime), CAST(N'2023-04-25T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Slots] ([slotID], [day1], [day2], [starttime], [endtime]) VALUES (N'A1', N'Monday    ', N'Thursday  ', CAST(N'07:00:00' AS Time), CAST(N'09:15:00' AS Time))
INSERT [dbo].[Slots] ([slotID], [day1], [day2], [starttime], [endtime]) VALUES (N'A2', N'Monday    ', N'Thursday  ', CAST(N'09:30:00' AS Time), CAST(N'11:45:00' AS Time))
INSERT [dbo].[Slots] ([slotID], [day1], [day2], [starttime], [endtime]) VALUES (N'A3', N'Tuesday   ', N'Friday    ', CAST(N'07:00:00' AS Time), CAST(N'09:15:00' AS Time))
GO
INSERT [dbo].[Subjects] ([subjectCode], [subjectName]) VALUES (N'Others', N'Other')
INSERT [dbo].[Subjects] ([subjectCode], [subjectName]) VALUES (N'PRJ301', N'Java Web application development')
INSERT [dbo].[Subjects] ([subjectCode], [subjectName]) VALUES (N'PRM392', N'Mobile Programming')
GO
INSERT [dbo].[Timetables] ([subjectCode], [slotID], [lecturerID], [semesterID]) VALUES (N'SWR302', N'A1', N'GV0001    ', N'FA23')
INSERT [dbo].[Timetables] ([subjectCode], [slotID], [lecturerID], [semesterID]) VALUES (N'SWT301', N'A1', N'GV0001    ', N'SU22')
INSERT [dbo].[Timetables] ([subjectCode], [slotID], [lecturerID], [semesterID]) VALUES (N'SWT301', N'A1', N'GV0002    ', N'FA22')
GO
INSERT [dbo].[Users] ([userID], [userName], [userEmail], [userStatus], [roleID], [password]) VALUES (N'AD001     ', N'Trần Mạnh Hiệp', N'hieptmse140293@fpt.edu.vn', 1, N'1 ', N'1')
INSERT [dbo].[Users] ([userID], [userName], [userEmail], [userStatus], [roleID], [password]) VALUES (N'GV0001    ', N'Nguyễn Ngọc Lâm', N'lamnn15@fpt.edu.vn', 1, N'2 ', N'12')
INSERT [dbo].[Users] ([userID], [userName], [userEmail], [userStatus], [roleID], [password]) VALUES (N'GV0002    ', N'Nguyễn Thế Hoàng', N'hoangnt20@fpt.edu.vn', 1, N'2 ', N'12')
GO
ALTER TABLE [dbo].[BlockList]  WITH CHECK ADD  CONSTRAINT [FK_blockList_Users] FOREIGN KEY([lecturerID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[BlockList] CHECK CONSTRAINT [FK_blockList_Users]
GO
ALTER TABLE [dbo].[BlockList]  WITH CHECK ADD  CONSTRAINT [FK_blockList_Users1] FOREIGN KEY([studentID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[BlockList] CHECK CONSTRAINT [FK_blockList_Users1]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_FreeSlots] FOREIGN KEY([freeSlotID])
REFERENCES [dbo].[FreeSlots] ([freeSlotID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_FreeSlots]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Users] FOREIGN KEY([studentID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Users]
GO
ALTER TABLE [dbo].[FreeSlots]  WITH CHECK ADD  CONSTRAINT [FK_FreeSlots_Users] FOREIGN KEY([lecturerID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[FreeSlots] CHECK CONSTRAINT [FK_FreeSlots_Users]
GO
ALTER TABLE [dbo].[Majors]  WITH CHECK ADD  CONSTRAINT [FK_Majors_Subjects] FOREIGN KEY([subjectCode])
REFERENCES [dbo].[Subjects] ([subjectCode])
GO
ALTER TABLE [dbo].[Majors] CHECK CONSTRAINT [FK_Majors_Subjects]
GO
ALTER TABLE [dbo].[Majors]  WITH CHECK ADD  CONSTRAINT [FK_Majors_Users] FOREIGN KEY([lecturerID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Majors] CHECK CONSTRAINT [FK_Majors_Users]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_FreeSlots] FOREIGN KEY([freeSlotID])
REFERENCES [dbo].[FreeSlots] ([freeSlotID])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_FreeSlots]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Users] FOREIGN KEY([studentID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Users]
GO
ALTER TABLE [dbo].[Timetables]  WITH CHECK ADD  CONSTRAINT [FK_Timetables_Semesters] FOREIGN KEY([semesterID])
REFERENCES [dbo].[Semesters] ([semesterID])
GO
ALTER TABLE [dbo].[Timetables] CHECK CONSTRAINT [FK_Timetables_Semesters]
GO
ALTER TABLE [dbo].[Timetables]  WITH CHECK ADD  CONSTRAINT [FK_Timetables_Slots] FOREIGN KEY([slotID])
REFERENCES [dbo].[Slots] ([slotID])
GO
ALTER TABLE [dbo].[Timetables] CHECK CONSTRAINT [FK_Timetables_Slots]
GO
ALTER TABLE [dbo].[Timetables]  WITH CHECK ADD  CONSTRAINT [FK_Timetables_Subjects] FOREIGN KEY([subjectCode])
REFERENCES [dbo].[Subjects] ([subjectCode])
GO
ALTER TABLE [dbo].[Timetables] CHECK CONSTRAINT [FK_Timetables_Subjects]
GO
ALTER TABLE [dbo].[Timetables]  WITH CHECK ADD  CONSTRAINT [FK_Timetables_Users] FOREIGN KEY([lecturerID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Timetables] CHECK CONSTRAINT [FK_Timetables_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([roleID])
REFERENCES [dbo].[Roles] ([roleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
