<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>sample.controllers.MainController</servlet-class>
        <multipart-config>
            <location>C:\File</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sample.controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRequestServlet</servlet-name>
        <servlet-class>sample.controllers.CreateRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingController</servlet-name>
        <servlet-class>sample.controllers.BookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTimetableServlet</servlet-name>
        <servlet-class>sample.controllers.ViewTimetableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatedSlotController</servlet-name>
        <servlet-class>sample.controllers.CreatedSlotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelSlotController</servlet-name>
        <servlet-class>sample.controllers.CancelSlotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFSlotController</servlet-name>
        <servlet-class>sample.controllers.DeleteFSlotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFreeSlotServlet</servlet-name>
        <servlet-class>sample.controllers.CreateFreeSlotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnhideFSlotController</servlet-name>
        <servlet-class>sample.controllers.UnhideFSlotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatedSlotViewSubController</servlet-name>
        <servlet-class>sample.controllers.CreatedSlotViewSubController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRequestServlet</servlet-name>
        <servlet-class>sample.controllers.ViewRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRequestServlet</servlet-name>
        <servlet-class>sample.controllers.DeleteRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptRequestServlet</servlet-name>
        <servlet-class>sample.controllers.AcceptRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardServlet</servlet-name>
        <servlet-class>sample.controllers.DashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFreeSlot</servlet-name>
        <servlet-class>sample.controllers.SearchFreeSlot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFreeSlotServlet</servlet-name>
        <servlet-class>sample.controllers.SearchFreeSlotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRequestStatusServlet</servlet-name>
        <servlet-class>sample.controllers.SearchRequestStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAttendanceBookingView</servlet-name>
        <servlet-class>sample.controllers.CheckAttendanceBookingView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCreateSlotServlet</servlet-name>
        <servlet-class>sample.controllers.SearchCreateSlotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudentSlotController</servlet-name>
        <servlet-class>sample.controllers.ViewStudentSlotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFSlotController</servlet-name>
        <servlet-class>sample.controllers.UpdateFSlotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLecturerServlet</servlet-name>
        <servlet-class>sample.controllers.ViewLecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginByFeID</servlet-name>
        <servlet-class>sample.controllers.LoginByFeID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>sample.controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>sample.controllers.SearchUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>sample.controllers.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAttendanceCreateSlot</servlet-name>
        <servlet-class>sample.controllers.CheckAttendanceCreateSlot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookFSlotServlet</servlet-name>
        <servlet-class>sample.controllers.BookFSlotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookedServlet</servlet-name>
        <servlet-class>sample.controllers.SearchBookedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportTimetable</servlet-name>
        <servlet-class>sample.importexcel.ImportTimetable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportTimetables</servlet-name>
        <servlet-class>sample.importexcel.ImportTimetables</servlet-class>
        <multipart-config>
            <location>C:\File</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>ImportStudents</servlet-name>
        <servlet-class>sample.importexcel.ImportStudents</servlet-class>
        <multipart-config>
            <location>C:\File</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>AttendanceServlet</servlet-name>
        <servlet-class>sample.controllers.AttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceSemesServlet</servlet-name>
        <servlet-class>sample.controllers.AttendanceSemesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudentBookingPresenceServlet</servlet-name>
        <servlet-class>sample.controllers.ViewStudentBookingPresenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllRequestStatus</servlet-name>
        <servlet-class>sample.controllers.ViewAllRequestStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRequestForLec</servlet-name>
        <servlet-class>sample.controllers.SearchRequestForLec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOptionCreateFS</servlet-name>
        <servlet-class>sample.controllers.ViewOptionCreateFS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckStatusServlet</servlet-name>
        <servlet-class>sample.controllers.CheckStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>sample.controllers.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEMailServlet</servlet-name>
        <servlet-class>sample.controllers.SendEMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceSemesLecServlet</servlet-name>
        <servlet-class>sample.controllers.AttendanceSemesLecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceLecServlet</servlet-name>
        <servlet-class>sample.controllers.AttendanceLecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountPageServlet</servlet-name>
        <servlet-class>sample.controllers.CountPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateFreeSlotServlet</servlet-name>
        <url-pattern>/newfreeslot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatedSlotController</servlet-name>
        <url-pattern>/CreatedSlotController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRequestServlet</servlet-name>
        <url-pattern>/CreateRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingController</servlet-name>
        <url-pattern>/BookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTimetableServlet</servlet-name>
        <url-pattern>/ViewTimetableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLecturerServlet</servlet-name>
        <url-pattern>/ViewLecturerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginByFeID</servlet-name>
        <url-pattern>/LoginByFeID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelSlotController</servlet-name>
        <url-pattern>/CancelSlotController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFSlotController</servlet-name>
        <url-pattern>/DeleteFSlotController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudentSlotController</servlet-name>
        <url-pattern>/ViewStudentSlotController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFSlotController</servlet-name>
        <url-pattern>/UpdateFSlotController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnhideFSlotController</servlet-name>
        <url-pattern>/UnhideFSlotController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatedSlotViewSubController</servlet-name>
        <url-pattern>/CreatedSlotViewSubController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/SearchUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRequestServlet</servlet-name>
        <url-pattern>/ViewRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRequestServlet</servlet-name>
        <url-pattern>/DeleteRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptRequestServlet</servlet-name>
        <url-pattern>/AcceptRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardServlet</servlet-name>
        <url-pattern>/DashBoardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFreeSlot</servlet-name>
        <url-pattern>/SearchFreeSlot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFreeSlotServlet</servlet-name>
        <url-pattern>/SearchFreeSlotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRequestStatusServlet</servlet-name>
        <url-pattern>/SearchRequestStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAttendanceBookingView</servlet-name>
        <url-pattern>/CheckAttendanceBookingView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCreateSlotServlet</servlet-name>
        <url-pattern>/SearchCreateSlotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAttendanceCreateSlot</servlet-name>
        <url-pattern>/CheckAttendanceCreateSlot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookFSlotServlet</servlet-name>
        <url-pattern>/BookFSlotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookedServlet</servlet-name>
        <url-pattern>/SearchBookedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportTimetable</servlet-name>
        <url-pattern>/ImportTimetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportTimetables</servlet-name>
        <url-pattern>/ImportTimetables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportStudents</servlet-name>
        <url-pattern>/ImportStudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceServlet</servlet-name>
        <url-pattern>/AttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceSemesServlet</servlet-name>
        <url-pattern>/AttendanceSemesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudentBookingPresenceServlet</servlet-name>
        <url-pattern>/ViewStudentBookingPresenceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllRequestStatus</servlet-name>
        <url-pattern>/ViewAllRequestStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRequestForLec</servlet-name>
        <url-pattern>/SearchRequestForLec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOptionCreateFS</servlet-name>
        <url-pattern>/ViewOptionCreateFS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEMailServlet</servlet-name>
        <url-pattern>/SendEMailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckStatusServlet</servlet-name>
        <url-pattern>/CheckStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceSemesLecServlet</servlet-name>
        <url-pattern>/AttendanceSemesLecServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceLecServlet</servlet-name>
        <url-pattern>/AttendanceLecServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountPageServlet</servlet-name>
        <url-pattern>/CountPageServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
