.frame-group, .frame-div{
    display: flex;
    flex-direction: row;
    color: black;
}
.frame-item {
    margin-left: 44px;
    cursor: pointer; /* Hiển thị con trỏ chuột khi di chuột qua */
    position: relative;
    width: 45px;
    height: 42px;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 14px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.text-custom{
    font-family: 'Agbalumo', 'Playfair Display', sans-serif;
    height: 0px;
    margin-top: 73px;
}
.dropbtn:hover, .dropbtn:focus {
   opacity: 0.5
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 205px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform-origin: top center;
    transform: scaleY(0);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: flex;
    opacity: 0;
    transform: scaleY(0);
}
.frame-parent {
    display: flex;
    flex-direction: row;
}
.fptu-eng-1-parent {
    position: relative;
    background-color: black;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    width: 100%;
    min-height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*padding: 35px 40px;*/
    padding-left: 35px;
    font-size: 17px;
    color: #fff;
    justify-content: space-between;
    flex-wrap: wrap;
}
.frame-div{
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.frame-div:hover{
    background-color: #f27125;
    color: black;
}
.returnHome{
    /*position: absolute;*/
    width: 120px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("public/BookingView/2021fptueng-1@2x.png");
}
#user-id, #user-name, #user-email {
    color: black; /* Đặt màu chữ thành màu đen */
}
