.returnHome{
    /*position: absolute;*/
    width: 120px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("public/BookingView/2021fptueng-1@2x.png");
}
.boxoftable{
    width: 100%;
}
.option{
    width: 60%;

}
.frame-group, .frame-div{
    display: flex;
    flex-direction: row;
    color: black;
}
.frame-item {
    margin-left: 44px;
    cursor: pointer; /* Hiển thị con trỏ chuột khi di chuột qua */
    position: relative;
    width: 45px;
    height: 42px;
}
.dropbtn {
    background-color: gray;
    color: white;
    padding: 9px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #fd7e14;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 205px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: flex;
}
.frame-div{
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}
.frame-parent {
    display: flex;
    flex-direction: row;
}
.fptu-eng-1-parent {
    position: relative;
    background-color: black;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    width: 100%;
    min-height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*padding: 35px 40px;*/
    padding-left: 35px;
    font-size: 17px;
    color: #fff;
    justify-content: space-between;
    flex-wrap: wrap;
}

.center-content {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.div {
    position: relative;
}
th,td{
    text-align: center;
}
td button {
    display: block; /* Đảm bảo rằng nút sẽ có kích thước của ô td */
    margin: 0 auto; /* Để căn giữa nút bên trong ô td */
}
.table-rounded {
    border-radius: 10px; /* Điều chỉnh giá trị này để thay đổi độ bo tròn */
    overflow: hidden;
    border-collapse: separate;
    /*        border-spacing: 0 10px;  Điều chỉnh giá trị 10px để thay đổi khoảng cách giữa các cột */

}

.table-rounded th, .table-rounded td {
    border-radius: 0;
}

.frame-div:hover{
    background-color: #f27125;
    color: black;
}

.frame-group {
    /*    align-items: flex-end;*/
    gap: 3px;
    flex-wrap: wrap;
}
.history{
    width: 50% !important;
}
.frame-History{
    border-radius: 20px;
    background-color: #f27125;
    width: 40px !important;
    height: 40px;
    align-items: center;
    padding: 10px 9px;
    box-sizing: border-box;
    /* gap: 0px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}
.student-viewbookedslot {
    position: relative;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 280px;
    text-align: left;
    font-size: 17px;
    color: #fff;
    font-family: Lexend;
}
.returnHome{
    /*position: absolute;*/
    width: 120px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("public/BookingView/2021fptueng-1@2x.png");
}
#user-id, #user-name, #user-email {
    color: black; /* Đặt màu chữ thành màu đen */
}