.fptu-eng-1-icon {
    position: absolute;
    top: 4px;
    left: 53px;
    width: 149px;
    height: 60px;
    object-fit: cover;
}

.center-content {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.div {
    position: relative;
}

.table-container {
    height: 100%;
    width: 100% !important;
    /*    max-height: 400px;  thay đổi kích thước tối đa tùy ý */
    overflow-y: auto; /* để hiển thị thanh cuộn dọc khi vượt quá kích thước cố định */
    padding-bottom: 10%;
    margin-top: -25%;
    margin-bottom: 25%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

th,td{
    text-align: center !important;
}
.centered-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.error-message {
    color: red;
}
td button {
    display: block; /* Đảm bảo rằng nút sẽ có kích thước của ô td */
    margin: 0 auto; /* Để căn giữa nút bên trong ô td */
}
.table-rounded {
    border-radius: 10px; /* Điều chỉnh giá trị này để thay đổi độ bo tròn */
    overflow: hidden;
    border-collapse: separate;
    /*        border-spacing: 0 10px;  Điều chỉnh giá trị 10px để thay đổi khoảng cách giữa các cột */

}

.table-rounded th, .table-rounded td {
    border-radius: 0;
}
.frame-div {
    cursor: pointer; /* Hiển thị con trỏ chuột khi di chuột qua */
    border-radius: 12px;
    background-color: #f27125;
    width: 194px;
    height: 43px;
    /*align-items: flex-start;*/
    padding: 10px 9px;
    box-sizing: border-box;
    gap: 8px;
}
.frame-Create{
    border-radius: 20px;
    background-color: #f27125;
    width: 40px !important;
    height: 40px;
    align-items: center;
    padding: 10px 9px;
    box-sizing: border-box;
    /* gap: 0px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

.frame-group, .frame-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.frame-group {
/*    align-items: flex-end;*/
    gap: 16px;
    flex-wrap: wrap;
}
.returnHome{
    /*position: absolute;*/
    width: 120px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("public/BookingView/2021fptueng-1@2x.png");
}
.frame-parent {
    display: flex;
    flex-direction: row;
}
.fptu-eng-1-parent {
    position: relative;
    background-color: rgba(0, 0, 0, 0.125);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    width: 100%;
    min-height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*padding: 35px 40px;*/
    padding-left: 35px;
    font-size: 17px;
    color: #fff;
    /*overflow: hidden;*/
    flex-wrap: wrap;
}

.listslot {
    position: relative;
    width: 1062px;
    height: 597px;
}
.boxoftable th{
    text-align: center;
}
.student-viewbookedslot {
    position: relative;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 280px;
    text-align: left;
    font-size: 17px;
    color: #fff;
    font-family: Lexend;

}

#user-id, #user-name, #user-email {
    color: black; /* Đặt màu chữ thành màu đen */
}