.frame-child {
  position: absolute;
  top: 0;
  left: calc(50% - 252.5px);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 64px rgba(0, 0, 0, 0.05);
  border: 0.5px solid #878787;
  box-sizing: border-box;
  width: 505px;
  height: 701px;
}
.sign-in,
.welcome {
  position: absolute;
  top: 85px;
  left: calc(50% - 81px);
  font-weight: 500;
}
.welcome {
  top: 0;
  font-size: 25px;
  font-weight: 300;
}
.sign-in-parent {
  position: absolute;
  top: 36px;
  left: calc(50% - 217.5px);
  width: 162px;
  height: 157px;
}
.rectangle-parent {
  flex: 1;
  position: relative;
  height: 701px;
  z-index: 0;
}
.google-icon {
  position: absolute;
  margin: 0 !important;
  top: 454px;
  left: calc(50% - 209.5px);
  width: 418px;
  height: 63px;
  z-index: 1;
}
.feid {
  position: absolute;
  top: 0;
  left: calc(50% - 5px);
  display: inline-block;
  width: 48px;
  height: 21px;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  height: 90.48%;
  top: 0;
  bottom: 9.52%;
  left: calc(50% - 44px);
  max-height: 100%;
  width: 24px;
}
.vector-icon1 {
  height: 44.94%;
  top: 10.12%;
  bottom: 44.94%;
}
.iconid {
  position: absolute;
  margin: 0 !important;
  top: 476px;
  left: calc(50% + 77.5px);
  width: 86px;
  height: 21px;
  z-index: 2;
  font-size: 20px;
  font-family: "Lohit Tamil";
}
.selectcampus-child {
  position: absolute;
  top: 0;
  left: calc(50% - 179px);
  border-radius: 40px;
  background-color: #ebebeb;
  width: 358px;
  height: 67px;
}
.vector-icon2 {
  position: absolute;
  height: 27.91%;
  top: 46.94%;
  bottom: 25.15%;
  left: calc(50% + 130.25px);
  max-height: 100%;
  width: 22.32px;
}
.select-campus {
  position: absolute;
  top: 11px;
  left: calc(50% - 158px);
  display: inline-block;
  width: 263px;
  height: 43px;
}
.selectcampus {
  position: absolute;
  margin: 0 !important;
  top: 259px;
  left: calc(50% - 179.5px);
  width: 358px;
  height: 67px;
  z-index: 3;
  font-size: 36px;
  font-family: Lexend;
}
.formlogin {
  position: absolute;
  top: 0;
  left: 0;
  width: 505px;
  height: 701px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.error-appear-here {
  position: absolute;
  top: 372px;
  left: 101px;
  font-size: 36px;
  font-family: Lexend;
  color: red;
  display: inline-block;
  width: 315px;
  height: 48px;
}
.formlogin-parent,
.fptu-long-1-1 {
  position: relative;
  width: 505px;
  height: 701px;
}
.fptu-long-1-1 {
  width: 733px;
  height: 235px;
  object-fit: cover;
}
.appointment-scheduling-applica {
  position: relative;
  display: inline-block;
  width: 649px;
  height: 81px;
  flex-shrink: 0;
}
.logo {
  width: 733px;
  height: 332px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 36px;
  font-family: "Lohit Tamil";
}
.footer-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f8d867;
  width: 1440px;
  height: 106px;
}
.fpt-university1 {
  text-decoration: underline;
}
.fpt-university {
  color: inherit;
}
.powered-by-fpt-container {
  position: absolute;
  top: 28px;
  left: 529px;
  font-weight: 500;
  display: inline-block;
  width: 468px;
  height: 19px;
}
.footer,
.login {
  position: relative;
  width: 1440px;
  height: 106px;
  font-size: 16px;
  color: inherit;
}
.login {
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 54px;
  text-align: left;
  font-size: 48px;
  color: #000;
  font-family: Poppins;
}
