.returnHome{
    /*position: absolute;*/
    width: 120px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("public/BookingView/2021fptueng-1@2x.png");
}
.boxoftable{
    width: 100%;
}

.center-content {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.div {
    position: relative;
}
.frame-group {
    gap: 3px;
    flex-wrap: wrap;
}
.frame-div {
    cursor: pointer; /* Hiển thị con trỏ chuột khi di chuột qua */
    border-radius: 12px;
    background-color: #f27125;
    width: 213px;
    height: 43px;
    /*align-items: flex-start;*/
    padding: 10px 9px;
    box-sizing: border-box;
    gap: 8px;
    justify-content: center;
}

.frame-group, .frame-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.frame-item {
    margin-left: 44px;
    cursor: pointer; /* Hiển thị con trỏ chuột khi di chuột qua */
    position: relative;
    width: 45px;
    height: 42px;
}
.frame-parent {
    display: flex;
    flex-direction: row;
}
.fptu-eng-1-parent {
    position: relative;
    background-color: rgba(0, 0, 0, 0.125);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    width: 100%;
    min-height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*padding: 35px 40px;*/
    padding-left: 35px;
    font-size: 17px;
    color: #fff;

    flex-wrap: wrap;
}
.back {
    position: absolute;
    top: 0;
    left: 46px;
    display: inline-block;
    width: 79px;
    height: 26px;
}
.back-icon {
    position: absolute;
    height: 85.29%;
    width: 40.99%;
    top: 22.57%;
    right: 74.81%;
    bottom: -2.86%;
    left: -0.8%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.backbutton {
    cursor: pointer; /* Hiển thị con trỏ chuột khi di chuột qua */
    position: relative;
    width: 125px;
    height: 35px;
    font-size: 30px;
    color: #000;
    bottom: 260px;
    left: -43%;
}

.cancelbutton-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 40px;
    background-color: #d70000;
    width: 104.84px;
    height: 45.2px;
}
.cancel {
    position: absolute;
    top: 10.51px;
    left: 19.92px;
    display: inline-block;
    width: 76.53px;
    height: 23.12px;
}
.cancelbutton {
    position: absolute;
    top: 176.58px;
    left: 137.34px;
    width: 104.84px;
    height: 45.2px;
}

.meetbutton-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #4caf50;
    width: 81.77px;
    height: 21.02px;
}

.student-viewbookedslot {
    position: relative;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 280px;
    text-align: left;
    font-size: 17px;
    color: #fff;
    font-family: Lexend;
}

#user-id, #user-name, #user-email {
    color: black; /* Đặt màu chữ thành màu đen */
}
