.create-request {
    font-family: sans-serif;
}
.lectucrer-child {
  position: absolute;
  top: 0.45px;
  left: 336.96px;
  background-color: #d9d9d9;
  width: 647.69px;
  height: 46.55px;
}
.subject-code {
    top: 125px;
}
.semester {
    top: 62px;
}
.lecturer {
    position: absolute;
    top: 0;
    left: -337px;
    display: inline-block;
    width: 665.73px;
    height: 42.73px;
}
.lectucrer,
.subject-code1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 984.65px;
  height: 46.99px;
}
.subject-code1 {
  display: inline-block;
  width: 1064.44px;
  height: 43.5px;
}
.semester-child,
.subject-code {
  position: absolute;
  top: 60.28px;
  left: 0;
  width: 1064.44px;
  height: 46.99px;
}
.semester-child {
  top: 0;
  left: 336.96px;
  background-color: #d9d9d9;
  width: 647.69px;
  height: 46.55px;
}
.semester1 {
  position: absolute;
  top: 4.13px;
  left: 0;
  display: inline-block;
  width: 808.25px;
  height: 43.5px;
}
.semester,
.start-time1 {
  position: absolute;
  top: 124.07px;
  left: 0;
  width: 984.65px;
  height: 47.63px;
}
.start-time1 {
  top: 2.61px;
  display: inline-block;
  width: 878.62px;
  height: 42.73px;
}
.start-time {
  top: 191.22px;
  width: 984.65px;
  height: 46.55px;
}
.end-time,
.end-time1,
.start-time {
  position: absolute;
  left: 0;
}
.end-time1 {
  top: 3.37px;
  display: inline-block;
  width: 799.23px;
  height: 42.73px;
}
.end-time {
  top: 256.08px;
  width: 984.65px;
  height: 46.55px;
}
.description-child {
  position: absolute;
  top: 0;
  left: 336.96px;
  background-color: #d9d9d9;
  width: 766.76px;
  height: 143.46px;
}
.description1 {
  position: absolute;
  top: 2px;
  left: 0;
  display: inline-block;
  width: 211px;
  height: 31px;
}
.description,
.infor {
  position: absolute;
  top: 324px;
  left: 0;
  width: 1103.72px;
  height: 143.46px;
}
.infor {
  top: 240px;
  left: 203px;
  height: 467.46px;
}
.sendrequestbutton-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40px;
  background-color: #4caf50;
  width: 282px;
  height: 77px;
  cursor: pointer;
}
.send-request {
  position: absolute;
  top: 14px;
  left: 29px;
  display: inline-block;
  width: 250px;
  height: 49px;
  cursor: pointer;
}
.back,
.sendrequestbutton {
  position: absolute;
  top: 765px;
  left: 579px;
  width: 282px;
  height: 77px;
}
.back {
  top: 0;
  left: 46.7px;
  display: inline-block;
  width: 79px;
  height: 26px;
}
.back-icon {
  position: absolute;
  height: 94.29%;
  width: 25.51%;
  top: 8.57%;
  right: 75.28%;
  bottom: -2.86%;
  left: -0.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.backbutton {
  position: absolute;
  top: 101px;
  left: 25px;
  width: 125.7px;
  height: 35px;
  font-size: 30px;
}
.fptu-eng-1-icon {
  position: absolute;
  top: 4px;
  left: 53px;
  width: 149px;
  height: 60px;
  object-fit: cover;
}
.bookedslot-icon {
  position: relative;
  width: 22px;
  height: 25px;
}
.bookedslot-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.view-all-lecturers {
  position: relative;
  line-height: 25px;
}
.frame-container {
    border-radius: 12px;
    background-color: #f27125;
    width: 176px;
    height: 43px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 16px;
    box-sizing: border-box;
    gap: 8px;
    cursor: pointer;
}
.div {
  position: relative;
}
.frame-div {
  border-radius: 12px;
  background-color: #f27125;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 16px;
  gap: 8px;
}
.logout-icon {
  position: relative;
  width: 13px;
  height: 25px;
}
.logout-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logout1 {
  margin: 0;
}
.frame-group,
.frame-parent1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent1 {
  border-radius: 12px;
  background-color: #f27125;
  width: 123px;
  height: 43px;
  align-items: flex-start;
  padding: 10px 16px;
  box-sizing: border-box;
  gap: 8px;
}
.frame-group {
  align-items: flex-end;
  gap: 16px;
}
.frame-item {
  position: relative;
  width: 48px;
  height: 42px;
}
.frame-parent {
  position: absolute;
  top: 12px;
  left: 878px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.header {
  position: absolute;
  top: 1px;
  left: 0;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 1440px;
  height: 68px;
  font-size: 17px;
  color: #fff;
}
.student-request {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1014px;
  overflow: hidden;
  text-align: left;
  font-size: 35px;
  color: #000;
}