.bysemester-icon,
.bysub-icon,
.search-child {
  position: absolute;
  top: 0;
  left: 198px;
  width: 149px;
  height: 47px;
}
.bysemester-icon,
.search-child {
  left: 356px;
  width: 165px;
}
.search-child {
  left: 0;
  border-radius: 40px;
  background-color: #f26f21;
  width: 74px;
}
.search1 {
  position: absolute;
  top: 13px;
  left: 13px;
  display: inline-block;
  width: 54px;
  height: 18px;
}
.search {
  position: absolute;
  top: 0;
  left: 527px;
  width: 74px;
  height: 47px;
}
.fall23,
.lamnn15,
.searchbylec-icon,
.swe391 {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 47px;
}
.fall23,
.lamnn15,
.swe391 {
  display: inline-block;
  width: 77px;
  height: 20px;
}
.fall23,
.swe391 {
  top: 2px;
  left: 196px;
  width: 61px;
  height: 22px;
}
.fall23 {
  top: 0;
  left: 377px;
  width: 52px;
}
.lecture-4,
.searchfunction {
  position: absolute;
  top: 14px;
  left: 46px;
  width: 429px;
  height: 24px;
}
.searchfunction {
  top: 178px;
  left: 32px;
  width: 601px;
  height: 47px;
  font-size: 15px;
  color: #000;
}
.slot-6-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 260px;
  height: 240px;
}
.bookbutton-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40px;
  background-color: #b20000;
  width: 100px;
  height: 43px;
}
.full {
  position: absolute;
  top: 9px;
  left: 36px;
  display: inline-block;
  width: 46px;
  height: 22px;
}
.bookbutton,
.limit-66 {
  position: absolute;
  top: 175px;
  left: 127px;
  width: 100px;
  height: 43px;
}
.limit-66 {
  top: 145px;
  left: 0;
  display: inline-block;
  width: 91px;
  height: 22px;
}
.div,
.div1,
.fall231,
.lamnn151,
.swe3911 {
  position: absolute;
  top: 93px;
  left: 107px;
  font-size: 15px;
  display: inline-block;
  width: 125px;
  height: 17px;
}
.div1,
.fall231,
.lamnn151,
.swe3911 {
  top: 123px;
}
.fall231,
.lamnn151,
.swe3911 {
  top: 60px;
  left: 183px;
  width: 52px;
  height: 22px;
}
.lamnn151,
.swe3911 {
  top: 33px;
  left: 168px;
  width: 61px;
}
.lamnn151 {
  top: 4px;
  left: 153px;
  width: 77px;
  height: 20px;
}
.end-time,
.lecturename,
.semester,
.start-time,
.subject-code {
  position: absolute;
  top: 0;
  left: 4px;
  display: inline-block;
  width: 122px;
  height: 21px;
}
.end-time,
.lecturename,
.semester,
.start-time {
  top: 58px;
  width: 91px;
  height: 23px;
}
.end-time,
.lecturename,
.start-time {
  top: 29px;
  width: 124px;
  height: 21px;
}
.end-time,
.start-time {
  top: 119px;
  width: 87px;
}
.start-time {
  top: 89px;
  width: 97px;
  height: 22px;
}
.infor {
  position: absolute;
  top: 12px;
  left: 16px;
  width: 235px;
  height: 167px;
  color: #000;
}
.div2,
.div3,
.slot-6 {
  position: absolute;
  top: 328px;
  left: 753px;
  width: 260px;
  height: 240px;
}
.div2,
.div3 {
  top: 93px;
  left: 103px;
  font-size: 15px;
  display: inline-block;
  width: 125px;
  height: 17px;
}
.div3 {
  top: 123px;
}
.fall232,
.swe3912 {
  font-size: 15px;
  height: 22px;
}
.fall232 {
  position: absolute;
  top: 60px;
  left: 179px;
  display: inline-block;
  width: 52px;
}
.swe3912 {
  top: 33px;
  left: 164px;
  width: 61px;
}
.lamnn152,
.subject-code1,
.swe3912 {
  position: absolute;
  display: inline-block;
}
.lamnn152 {
  top: 4px;
  left: 149px;
  font-size: 15px;
  width: 77px;
  height: 20px;
}
.subject-code1 {
  top: 0;
  left: 0;
  width: 122px;
  height: 21px;
}
.end-time1,
.lecturename1,
.semester1,
.start-time1 {
  position: absolute;
  top: 58px;
  left: 0;
  display: inline-block;
  width: 91px;
  height: 23px;
}
.end-time1,
.lecturename1,
.start-time1 {
  top: 29px;
  width: 124px;
  height: 21px;
}
.end-time1,
.start-time1 {
  top: 119px;
  width: 87px;
}
.start-time1 {
  top: 89px;
  width: 97px;
  height: 22px;
}
.bookbutton-item,
.infor1 {
  position: absolute;
  top: 12px;
  left: 20px;
  width: 231px;
  height: 167px;
}
.bookbutton-item {
  top: 0;
  left: 0;
  border-radius: 40px;
  background-color: #0066b2;
  width: 100px;
  height: 43px;
}
.book {
  position: absolute;
  top: 9px;
  left: 27px;
  display: inline-block;
  width: 46px;
  height: 22px;
}
.bookbutton1,
.slot-5 {
  position: absolute;
  top: 175px;
  left: 127px;
  width: 100px;
  height: 43px;
  color: #fff;
}
.slot-5 {
  top: 328px;
  left: 372px;
  width: 260px;
  height: 240px;
  color: #000;
}
.div4,
.div5 {
  position: absolute;
  top: 93px;
  left: 105px;
  font-size: 15px;
  display: inline-block;
  width: 125px;
  height: 17px;
}
.div5 {
  top: 123px;
}
.fall233,
.swe3913 {
  font-size: 15px;
  height: 22px;
}
.fall233 {
  position: absolute;
  top: 60px;
  left: 181px;
  display: inline-block;
  width: 52px;
}
.swe3913 {
  top: 33px;
  left: 166px;
  width: 61px;
}
.lamnn153,
.semester2,
.subject-code2,
.swe3913 {
  position: absolute;
  display: inline-block;
}
.lamnn153 {
  top: 4px;
  left: 151px;
  font-size: 15px;
  width: 77px;
  height: 20px;
}
.semester2,
.subject-code2 {
  top: 0;
  left: 2px;
  width: 122px;
  height: 21px;
}
.semester2 {
  top: 58px;
  width: 91px;
  height: 23px;
}
.lecturename2 {
  position: absolute;
  top: 29px;
  width: 124px;
  height: 21px;
}
.end-time2,
.lecturename2,
.start-time2 {
  left: 2px;
  display: inline-block;
}
.end-time2 {
  position: absolute;
  top: 119px;
  width: 87px;
  height: 21px;
}
.start-time2 {
  top: 89px;
  width: 97px;
  height: 22px;
}
.infor2,
.slot-4,
.start-time2 {
  position: absolute;
}
.infor2 {
  top: 12px;
  left: 18px;
  width: 233px;
  height: 167px;
  color: #000;
}
.slot-4 {
  top: 328px;
  left: 0;
  width: 260px;
  height: 240px;
}
.rectangle-div,
.slot-3-child {
  position: absolute;
  top: 0;
  left: 0;
}
.slot-3-child {
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 260px;
  height: 246px;
}
.rectangle-div {
  border-radius: 40px;
  background-color: #0066b2;
  width: 100px;
  height: 44.08px;
}
.book2 {
  position: absolute;
  top: 9.22px;
  left: 27px;
  display: inline-block;
  width: 46px;
  height: 22.55px;
}
.bookbutton3 {
  position: absolute;
  top: 179.35px;
  left: 127px;
  width: 100px;
  height: 44.08px;
}
.div6,
.div7,
.fall234,
.limit-36 {
  position: absolute;
  top: 149.7px;
  left: 0;
  display: inline-block;
  width: 91px;
  height: 22px;
}
.div6,
.div7,
.fall234 {
  top: 95.33px;
  left: 107px;
  font-size: 15px;
  width: 125px;
  height: 17.42px;
}
.div7,
.fall234 {
  top: 126.08px;
}
.fall234 {
  top: 61.5px;
  left: 183px;
  width: 52px;
  height: 22.55px;
}
.lamnn154 {
  top: 33.7px;
  left: 153px;
  font-size: 15px;
  width: 76px;
  height: 21px;
}
.lamnn154,
.subject-code3,
.swe3914 {
  position: absolute;
  display: inline-block;
}
.swe3914 {
  top: 3.7px;
  left: 168px;
  font-size: 15px;
  width: 58px;
  height: 21px;
}
.subject-code3 {
  top: 0;
  left: 4px;
  width: 122px;
  height: 21.52px;
}
.end-time3,
.lecturename3,
.semester3,
.start-time3 {
  position: absolute;
  top: 59.45px;
  left: 4px;
  display: inline-block;
  width: 91px;
  height: 23.58px;
}
.end-time3,
.lecturename3,
.start-time3 {
  top: 29.73px;
  width: 124px;
  height: 21.52px;
}
.end-time3,
.start-time3 {
  top: 121.98px;
  width: 87px;
}
.start-time3 {
  top: 91.23px;
  width: 97px;
  height: 22.55px;
}
.infor3 {
  position: absolute;
  top: 12.3px;
  left: 16px;
  width: 235px;
  height: 171.7px;
  color: #000;
}
.limit-26,
.slot-3 {
  position: absolute;
  top: 0;
  left: 753px;
  width: 260px;
  height: 246px;
}
.limit-26 {
  top: 150px;
  left: 0;
  display: inline-block;
  width: 91px;
  height: 22px;
}
.infor4 {
  position: absolute;
  top: 12px;
  left: 16px;
  width: 235px;
  height: 172px;
  color: #000;
}
.slot-2 {
  top: 0;
  left: 372px;
  width: 260px;
  height: 240px;
}
.book4,
.infor5,
.slot-2 {
  position: absolute;
}
.book4 {
  top: 9px;
  left: 29px;
  display: inline-block;
  width: 54px;
  height: 22px;
}
.infor5 {
  top: 12px;
  left: 18px;
  width: 233px;
  height: 172px;
  color: #000;
}
.listslot,
.slot-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 240px;
}
.listslot {
  top: 315px;
  left: 213px;
  width: 1013px;
  height: 568px;
}
.fptu-eng-1-icon {
  position: relative;
  width: 149px;
  height: 60px;
  object-fit: cover;
}
.bookedslot-icon {
  position: relative;
  width: 22px;
  height: 25px;
}
.bookedslot-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.view-booking {
  position: relative;
  line-height: 25px;
}
.frame-container {
  border-radius: 12px;
  background-color: #f27125;
  width: 176px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 16px;
  box-sizing: border-box;
  gap: 8px;
}
.logout-icon {
  position: relative;
  width: 13px;
  height: 25px;
}
.logout-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logout1 {
  margin: 0;
}
.logout {
  position: relative;
}
.frame-div {
  border-radius: 12px;
  background-color: #f27125;
  width: 123px;
  height: 43px;
  align-items: flex-start;
  padding: 10px 16px;
  box-sizing: border-box;
  gap: 8px;
}
.frame-div,
.frame-group,
.frame-parent1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent1 {
  border-radius: 12px;
  background-color: #f27125;
  align-items: flex-start;
  padding: 10px 16px;
  gap: 8px;
}
.frame-group {
  align-items: flex-end;
  gap: 16px;
}
.frame-item {
  position: relative;
  width: 48px;
  height: 42px;
}
.frame-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.fptu-eng-1-parent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  width: 1440px;
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
}
.student-search {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 17px;
  color: #fff;
  font-family: Lexend;
}
