.lecturer-lamnn15 {
    position: relative;
    display: inline-block;
    width: 285px;
    height: 44px;
    flex-shrink: 0;
}
.infor-lec-child {
    position: relative;
    border-right: 1px solid #000;
    box-sizing: border-box;
    width: 1px;
    height: 64px;
}
.back1,
.infor-lec {
    position: absolute;
    left: 46px;
}
.infor-lec {
    top: 168px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 175px;
    gap: 38px;
}
.back1 {
    top: 0;
    display: inline-block;
    width: 79px;
    height: 26px;
}

.back,
.backbutton {
    position: absolute;
    top: 31px;
    left: 0;
    width: 125px;
    height: 35px;
    cursor: pointer;
    margin-left: 36px;
    margin-top: -29px

}
.backbutton {
    top: 101px;
    left: 25px;
}
.fptu-eng-1-icon1 {
    position: absolute;
    top: 4px;
    left: 53px;
    width: 149px;
    height: 60px;
    object-fit: cover;
}
.bookedslot-icon1 {
    position: relative;
    width: 22px;
    height: 25px;
}
.bookedslot-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.view-booking {
    position: relative;
    line-height: 25px;
}
.frame-container {
    border-radius: 12px;
    background-color: #f27125;
    width: 190px;
    height: 43px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 16px;
    box-sizing: border-box;
    gap: 8px;
}
.logout-icon1 {
    position: relative;
    width: 13px;
    height: 25px;
}
.logout-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-div,
.frame-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.frame-div {
    justify-content: center;
    cursor: pointer; /* Hiển thị con trỏ chuột khi di chuột qua */
    border-radius: 12px;
    background-color: #f27125;
    width: 150px;
    height: 43px;
    /*align-items: flex-start;*/
    padding: 10px 9px;
    box-sizing: border-box;
    gap: 8px;
}
.frame-group {
    gap: 16px;
    flex-wrap: wrap;
}
.frame-child {
    position: relative;
    width: 48px;
    height: 42px;
}
.frame-parent {
    display: flex;
    flex-direction: row;
    gap: 23px;
}
.fptu-eng-1-parent {
    position: relative;
    background-color: rgba(0, 0, 0, 0.125);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    width: 100%;
    min-height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*padding: 35px 40px;*/
    padding-left: 35px;
    font-size: 17px;
    color: #fff;

    /*overflow: hidden;*/
    flex-wrap: wrap;
}
.returnHome{
    /*position: absolute;*/
    width: 120px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("public/BookingView/2021fptueng-1@2x.png");
}
.student-lectures-schedule-edi {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: 30px;
    color: #000;
    font-family: Lexend;
}
.table-timetable-table{
    margin-top: 280px;
    margin-left: 90px;
}