.lecturer-lamnn15 {
  position: relative;
  display: inline-block;
  width: 285px;
  height: 44px;
  flex-shrink: 0;
}
.infor-lec-child {
  position: relative;
  border-right: 1px solid #000;
  box-sizing: border-box;
  width: 1px;
  height: 64px;
}
.semester-fall23-692023 {
  position: relative;
  display: inline-block;
  width: 648px;
  height: 44px;
  flex-shrink: 0;
}
.back1,
.infor-lec {
  position: absolute;
  left: 46px;
}
.infor-lec {
  top: 168px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 175px;
  gap: 38px;
}
.back1 {
  top: 0;
  display: inline-block;
  width: 79px;
  height: 26px;
}
.vector-icon,
.vector-icon1,
.vector-icon2 {
  position: absolute;
  height: 94.29%;
  width: 25.99%;
  top: 8.57%;
  right: 74.81%;
  bottom: -2.86%;
  left: -0.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1,
.vector-icon2 {
  height: 41.14%;
  width: 6.48%;
  top: 35.14%;
  right: 87.01%;
  bottom: 23.71%;
  left: 6.52%;
}
.vector-icon2 {
  height: 5.71%;
  width: 11.36%;
  top: 52.86%;
  right: 82.13%;
  bottom: 41.43%;
}
.back,
.backbutton {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 35px;
  cursor: pointer;
}
.backbutton {
  top: 101px;
  left: 25px;
}
.fptu-eng-1-icon1 {
  position: absolute;
  top: 4px;
  left: 53px;
  width: 149px;
  height: 60px;
  object-fit: cover;
}
.bookedslot-icon1 {
  position: relative;
  width: 22px;
  height: 25px;
}
.bookedslot-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.view-booking {
  position: relative;
  line-height: 25px;
}
.frame-container {
  border-radius: 12px;
  background-color: #f27125;
  width: 219px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 16px;
  box-sizing: border-box;
  gap: 8px;
}
.logout-icon1 {
  position: relative;
  width: 13px;
  height: 25px;
}
.logout-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logout2 {
  margin: 0;
}
.logout1 {
  position: relative;
}
.frame-div,
.frame-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-div {
  border-radius: 12px;
  background-color: #f27125;
  width: 123px;
  height: 43px;
  align-items: flex-start;
  padding: 10px 16px;
  box-sizing: border-box;
  gap: 8px;
}
.frame-group {
  align-items: flex-end;
  gap: 16px;
}
.frame-child {
  position: relative;
  width: 48px;
  height: 42px;
}
.frame-parent {
  position: absolute;
  top: 12px;
  left: 952px;
  width: 432px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.header1 {
  position: absolute;
  top: 1px;
  left: 0;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 100%;
  height: 68px;
  font-size: 18px;
  color: #fff;
}
.student-lectures-schedule-edi {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 30px;
  color: #000;
  font-family: Lexend;
}
.table-timetable-table{
    margin-top: 280px;
    margin-left: 90px;
}